/* * {
    outline: 1px solid;
} */

.number {
    position: fixed;
    top: -55px;
    left: -60px;
    font-size: 330px;
    font-weight: 900;
    z-index: -1;
    font-style: italic;
    color: #82a7c594;
}

.bg {
    position: fixed;
    width: 500px;
    height: 500px;
    background: #82a7c550;
    bottom: 0;
    left: 30px;
    transition: 0.2s 0.3s;
    border-radius: 20px;
    z-index: -2;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    background: rgba(0, 0, 0, 0);
}

.header h1 {
    position: relative;
    padding: 30px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #82a7c5;
    text-align: end;
    transition: 0.5s;
    z-index: 1000;
}

.header h1 a {
    margin: 0 30px 0 0;
}

.header.on h1 {
    height: 50px;
}

.gnb {
    position: fixed;
    bottom: 5%;
    right: 55px;
    z-index: 1002;
}

.gnb li a {
    position: relative;
    display: block;
    width: 100px;
    height: 20px;
}

.gnb li a span {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}


.gnb li.on a span {
    display: block;
    text-align: right;
    color: #82a7c5;
    font-size: 14px;
    margin: 9px 0 0 13px;
}

.gnb li.on a .first {
    margin: 9px 0 0 40px;
}

.gnb li.on a .eider {
    margin: 9px 0 0 40px;
}

.gnb li.on a .nefs {
    margin: 9px 0 0 40px;
}

.gnb li.on a .cu {
    margin: 9px 0 0 55px;
}

.gnb li a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #02437933;
    transition: 0.3s;
}

.gnb li.on a::after {
    border-radius: 50%;
    background: #82a7c5;
    border: 1px solid #82a7c5;
}



.main .m_con {
    position: relative;
    height: 100vh;
}

.main .m_con .pf_list figure {
    position: relative;
    width: 580px;
    border: 3px solid #fff;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main .m_con .pf_list figure img {
    border-radius: 5px;
}

.main .m_con .pf_list figure .m_link {
    position: absolute;
    width: 80px;
    padding: 5px 0;
    left: 95%;
    top: 5%;
    color: #fff;
    background: rgb(130, 167, 197);
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    z-index: 1005;
}

.main .m_con .pf_list figure .m_link a {
    z-index: 1005;
}

/* 깜빡임 효과 */
.main .m_con .pf_list figure .blinking {
    -webkit-animation: blink 1.2s ease-in-out infinite alternate;
    -moz-animation: blink 1.2s ease-in-out infinite alternate;
    animation: blink 1.2s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}


.main .m_con .pf_list figure .m_link a {
    padding: 5px;
    white-space: nowrap;
}


.main .m_con .pf_list .pf01 {
    position: absolute;
    top: 22px;
    left: 10%;
}

.main .m_con .pf_list .pf02 {
    position: absolute;
    top: 35%;
    left: 1%;
}

.main .m_con .pf_list .pf03 {
    position: absolute;
    top: 67.2%;
    left: 10%;
}

.main .m_con .pf_list .pf04 {
    position: absolute;
    top: 22px;
    left: 45%;
}

.main .m_con .pf_list .pf05 {
    position: absolute;
    top: 35.1%;
    left: 36%;
}

.main .m_con .pf_list .pf06 {
    position: absolute;
    top: 67.5%;
    left: 45%;
}

.main .m_tit {
    position: absolute;
    top: 38.5%;
    right: 3%;
    color: #82a7c5;
}

.main .m_tit h1 {
    font-size: 40px;
    font-weight: 100;
    text-align: right;
}

.main .m_tit strong {
    display: block;
    text-align: right;
    font-size: 70px;
    font-weight: 200;
}

.main .m_tit span {
    display: block;
    text-align: right;
    font-size: 80px;
    font-weight: 900;
}

/* .m_con {
    transform: rotate(-15deg);
} */

.inner {
    max-width: 1500px;
    margin: 0 auto;
}

.section .title .txt p {
    line-height: 1.3;
}

/* 01.eider */


.sub01 .inner {
    display: flex;
    gap: 30px;
}

.sub01 .inner>* {
    position: relative;
}

.sub01 .content {
    border-radius: 80px;
    transform: translateX(-100%);
    transition: 0.5s;
}

.sub01.on .content {
    transform: translateX(0);
}

.sub01 .inner .content .p_img_box {}

.sub01 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub01 .inner .content .p_img_box .p_pic img {
    transform: translate(0, 0);
    transition: 3s;
}

.sub01 .inner .content .p_img_box .p_pic:hover img {
    transform: translate(0, calc(-100% + 425px));
}

.sub01 .inner .content .p_img_box .p_case {
    position: relative;
}

.sub01 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    right: -61%;
    z-index: 999;
    width: 250px;
}

.sub01 .inner .content .m_img_box .m_top_case {
    position: absolute;
    transform: translate(-15px, -362px);
    left: -134%;
    z-index: 1000;
}

.sub01 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub01 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -150%;
    transform: translate(-31px, 25px);
}

.sub01 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub01 .inner .content .m_img_box .m_pic {
    position: absolute;
    width: 157px;
    left: -141%;
    bottom: 22%;
    transform: translate(-24px, -16px);
    object-fit: cover;
}

.sub01 .inner .content .m_img_box .m_pic img {
    border-radius: 20px;

}

.sub01 .title {
    position: absolute;
    top: 25%;
    right: 12%;
    text-align: right;
    z-index: 1000;
    /* transform: translateX(200%); */
    opacity: 0;
    transition: 2s;
}

.sub01.on .title {
    /* transform: translateX(0); */
    opacity: 1;
}

.sub01 .title .logo {
    margin: 0 0 50px 0;
}

.sub01 .title .logo img {
    width: 100px;
}

.sub01 .title .txt .type,
.sub01 .title .txt .font,
.sub01 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub01 .title .txt .color {
    margin: 0 0 72px 0;
}


.sub01 .title .txt .button {
    display: flex;
    gap: 10px;
    margin: 0 0 0 40px;
}

.sub01 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub01 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub01 .title .txt .button a.on {
    background: #82a7c5;
}

.sub01 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #555;
    text-transform: uppercase;
}

.sub01 .title .txt p {
    font-weight: 300;
    color: #555;
}

.sub01 .title .txt .color {
    text-align: right;
}

.sub01 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub01 .title .txt .color .c_list li:nth-child(1) {
    margin: 0 0 0 auto;
    padding: 10px;
    background: #ff5e37;
    border-radius: 5px;
}

.sub01 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #333;
    border-radius: 5px;
}

.sub01 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 02.CU */

.sub02 {
    background: linear-gradient(107deg, transparent 76%, #82a7c533 35%);
}

.sub02 .inner {
    display: flex;
    gap: 30px;
}

.sub02 .inner>* {
    position: relative;
}

.sub02 .content {
    position: absolute;
    top: 20%;
    right: 9%;
    transform: translateX(100%);
    transition: 0.5s;
}

.sub02.on .content {
    transform: translateX(0);
}

.sub02 .inner .content .p_img_box {}

.sub02 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub02 .inner .content .p_img_box .p_pic img {
    transform: translate(0, 0);
    transition: 3s;
}

.sub02 .inner .content .p_img_box .p_pic:hover img {
    transform: translate(0, calc(-100% + 425px));
}

.sub02 .inner .content .p_img_box .p_case {
    position: relative;
}


.sub02 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    left: 20%;
    z-index: 999;
    width: 250px;
}

.sub02 .inner .content .m_img_box .m_top_case {
    position: absolute;
    left: -71%;
    transform: translate(0px, -361px);
    z-index: 1000;
}

.sub02 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub02 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -95%;
    transform: translate(0px, 25px);
}


.sub02 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub02 .inner .content .m_img_box .m_pic {
    position: absolute;
    bottom: 22%;
    left: -74%;
    width: 157px;
    transform: translate(-23px, -14px);
    object-fit: cover;
}

.sub02 .inner .content .m_img_box .m_pic img {
    border-radius: 20px;
}

.sub02 .title {
    position: absolute;
    top: 24%;
    left: 14%;
    z-index: 1000;
    opacity: 0;
    transition: 2s;
}

.sub02.on .title {
    opacity: 1;
}

.sub02 .title .logo {
    margin: 0 0 50px 0;
}

.sub02 .title .logo img {
    width: 120px;
}

.sub02 .title .txt .type,
.sub02 .title .txt .font,
.sub02 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub02 .title .txt .color {
    margin: 0 0 72px 0;
}

.sub02 .title .txt .button {
    display: flex;
    gap: 10px;
}

.sub02 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub02 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub02 .title .txt .button a.on {
    background: #82a7c5;
}

.sub02 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.sub02 .title .txt p {
    font-weight: 300;
    color: #555;
}

.sub02 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub02 .title .txt .color .c_list li:nth-child(1) {
    padding: 10px;
    background: #6F2B8C;
    border-radius: 5px;
}

.sub02 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #9dc92a;
    border-radius: 5px;
}

.sub02 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 03.eider */

.sub03 .inner {
    display: flex;
    gap: 30px;
}

.sub03 .inner>* {
    position: relative;
}

.sub03 .content {
    border-radius: 80px;
    transform: translateX(-100%);
    transition: 0.5s;
}

.sub03.on .content {
    transform: translateX(0);
}

.sub03 .inner .content .p_img_box {}

.sub03 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub03 .inner .content .p_img_box .p_pic img {
    transform: translate(0, 0);
    transition: 3s;
}

.sub03 .inner .content .p_img_box .p_pic:hover img {
    transform: translate(0, calc(-100% + 425px));
}

.sub03 .inner .content .p_img_box .p_case {
    position: relative;
}

.sub03 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    right: -61%;
    z-index: 999;
    width: 250px;
}

.sub03 .inner .content .m_img_box .m_top_case {
    position: absolute;
    transform: translate(-15px, -362px);
    left: -134%;
    z-index: 1000;
}

.sub03 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub03 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -150%;
    transform: translate(-31px, 25px);
}

.sub03 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub03 .inner .content .m_img_box .m_pic {
    position: absolute;
    width: 153px;
    left: -141%;
    bottom: 22%;
    transform: translate(-24px, -16px);
    object-fit: cover;
}

.sub03 .inner .content .m_img_box .m_pic img {
    border-radius: 15px;

}

.sub03 .title {
    position: absolute;
    top: 23%;
    right: 12%;
    text-align: right;
    z-index: 1000;
    opacity: 0;
    transition: 2s;
}

.sub03.on .title {
    opacity: 1;
}

.sub03 .title .logo {
    margin: 0 0 50px 0;
}

.sub03 .title .logo img {
    width: 150px;
}

.sub03 .title .txt .type,
.sub03 .title .txt .font,
.sub03 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub03 .title .txt .color {
    margin: 0 0 72px 0;
}

.sub03 .title .txt .button {
    display: flex;
    gap: 10px;
    margin: 0px 0px 0px 180px;

}

.sub03 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub03 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub03 .title .txt .button a.on {
    background: #82a7c5;
}

.sub03 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.sub03 .title .txt p {
    font-weight: 300;
    color: #555;
}


.sub03 .title .txt .color {
    text-align: right;
}

.sub03 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub03 .title .txt .color .c_list li:nth-child(1) {
    margin: 0 0 0 auto;
    padding: 10px;
    background: #04BFAD;
    border-radius: 5px;
}

.sub03 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #2264bb;
    border-radius: 5px;
}

.sub03 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 04.NEFS */

.sub04 {
    background: linear-gradient(107deg, transparent 76%, #82a7c533 35%);
}

.sub04 .inner {
    display: flex;
    gap: 30px;
}

.sub04 .inner>* {
    position: relative;
}

.sub04 .content {
    position: absolute;
    top: 20%;
    right: 9%;
    transform: translateX(100%);
    transition: 0.5s;
}

.sub04.on .content {
    transform: translateX(0);
}

.sub04 .inner .content .p_img_box {}

.sub04 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub04 .inner .content .p_img_box .p_pic img {
    transform: translate(0, 0);
    transition: 3s;
}

.sub04 .inner .content .p_img_box .p_pic:hover img {
    transform: translate(0, calc(-100% + 425px));
}

.sub04 .inner .content .p_img_box .p_case {
    position: relative;
}


.sub04 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    left: 20%;
    z-index: 999;
    width: 250px;
}

.sub04 .inner .content .m_img_box .m_top_case {
    position: absolute;
    left: -71%;
    transform: translate(0px, -362px);
    z-index: 1000;
}

.sub04 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub04 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -95%;
    transform: translate(0px, 25px);
}


.sub04 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub04 .inner .content .m_img_box .m_pic {
    position: absolute;
    bottom: 22%;
    left: -74%;
    width: 157px;
    transform: translate(-23px, -13px);
    object-fit: cover;
}

.sub04 .inner .content .m_img_box .m_pic img {
    border-radius: 20px;
}

.sub04 .title {
    position: absolute;
    top: 25%;
    left: 14%;
    z-index: 1000;
    opacity: 0;
    transition: 2s;
}

.sub04.on .title {
    opacity: 1;
}

.sub04 .title .logo {
    margin: 0 0 50px 0;
}

.sub04 .title .logo img {

    width: 190px;
}

.sub04 .title .txt .type,
.sub04 .title .txt .font,
.sub04 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub04 .title .txt .color {
    margin: 0 0 72px 0;
}

.sub04 .title .txt .button {
    display: flex;
    gap: 10px;
}

.sub04 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub04 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub04 .title .txt .button a.on {
    background: #82a7c5;
}

.sub04 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.sub04 .title .txt p {
    font-weight: 300;
    color: #555;
}

.sub04 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub04 .title .txt .color .c_list li:nth-child(1) {
    padding: 10px;
    background: #048ABF;
    border-radius: 5px;
}

.sub04 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #D9184B;
    border-radius: 5px;
}

.sub04 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 05.CU */
.sub05 .inner {
    display: flex;
    gap: 30px;
}

.sub05 .inner>* {
    position: relative;
}

.sub05 .content {
    border-radius: 80px;
    transform: translateX(-100%);
    transition: 0.5s;
}

.sub05.on .content {
    transform: translateX(0);
}

.sub05 .inner .content .p_img_box {}

.sub05 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub05 .inner .content .p_img_box .p_pic img {
    transform: translate(0, 0);
    transition: 3s;
}

.sub05 .inner .content .p_img_box .p_pic:hover img {
    transform: translate(0, calc(-100% + 425px));
}

.sub05 .inner .content .p_img_box .p_case {
    position: relative;
}

.sub05 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    right: -61%;
    z-index: 999;
    width: 250px;
}

.sub05 .inner .content .m_img_box .m_top_case {
    position: absolute;
    transform: translate(-15px, -362px);
    left: -134%;
    z-index: 1000;
}

.sub05 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub05 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -150%;
    transform: translate(-31px, 25px);
}

.sub05 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub05 .inner .content .m_img_box .m_pic {
    position: absolute;
    width: 158px;
    left: -141%;
    bottom: 22%;
    transform: translate(-26px, -16px);
    object-fit: cover;
}

.sub05 .inner .content .m_img_box .m_pic img {
    border-radius: 20px;
}

.sub05 .title {
    position: absolute;
    top: 24%;
    right: 12%;
    text-align: right;
    z-index: 1000;
    opacity: 0;
    transition: 2s;
}

.sub05.on .title {
    opacity: 1;
}

.sub05 .title .logo {
    margin: 0 0 50px 0;
}

.sub05 .title .logo img {
    filter: brightness(0);
    width: 150px;
}

.sub05 .title .txt .type,
.sub05 .title .txt .font,
.sub05 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub05 .title .txt .color {
    margin: 0 0 72px 0;
}

.sub05 .title .txt .button {
    display: flex;
    margin: 0 0 0 180px;
    gap: 10px;
}

.sub05 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub05 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub05 .title .txt .button a.on {
    background: #82a7c5;
}

.sub05 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.sub05 .title .txt p {
    font-weight: 300;
    color: #555;
}

.sub05 .title .txt .color {
    text-align: right;
}

.sub05 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub05 .title .txt .color .c_list li:nth-child(1) {
    margin: 0 0 0 auto;
    padding: 10px;
    background: #000;
    border-radius: 5px;
}

.sub05 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.sub05 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 06.유기견 보호 센터 */

.sub06 {
    background: linear-gradient(107deg, transparent 76%, #82a7c533 35%);
}

.sub06 .inner {
    display: flex;
    gap: 30px;
}

.sub06 .inner>* {
    position: relative;
}

.sub06 .content {
    position: absolute;
    top: 20%;
    right: 9%;
    transform: translateX(100%);
    transition: 0.5s;
}

.sub06.on .content {
    transform: translateX(0);
}

.sub06 .inner .content .p_img_box {}

.sub06 .inner .content .p_img_box .p_pic {
    position: absolute;
    top: 58px;
    left: 72px;
    right: 0;
    width: 681px;
    height: 425px;
    z-index: 999;
    overflow: hidden;
}

.sub06 .inner .content .p_img_box .p_pic img {
    width: 700px;
    height: 460px;
    border-radius: 10px;
    object-fit: cover;
    transition: 3s;
}

.sub06 .inner .content .p_img_box .p_case {
    position: relative;
}

.sub06 .inner .content .m_img_box {
    position: absolute;
    bottom: 20px;
    left: 20%;
    z-index: 999;
    width: 250px;
}

.sub06 .inner .content .m_img_box .m_top_case {
    position: absolute;
    left: -71%;
    transform: translate(0px, -362px);
    z-index: 1000;
}

.sub06 .inner .content .m_img_box .m_top_case img {
    width: 100px;
}

.sub06 .inner .content .m_img_box .m_case {
    position: absolute;
    bottom: 22%;
    left: -95%;
    transform: translate(0px, 25px);
}


.sub06 .inner .content .m_img_box .m_case img {
    width: 220px;
}

.sub06 .inner .content .m_img_box .m_pic {
    position: absolute;
    bottom: 22%;
    left: -74%;
    width: 155px;
    transform: translate(-22px, -13px);
    object-fit: cover;
}

.sub06 .inner .content .m_img_box .m_pic img {
    border-radius: 20px;
}

.sub06 .title {
    position: absolute;
    top: 22%;
    left: 14%;
    z-index: 1000;
    opacity: 0;
    transition: 2s;
}

.sub06.on .title {
    opacity: 1;
}

.sub06 .title .logo {
    margin: 0 0 50px 0;
}

.sub06 .title .logo img {
    width: 190px;
}

.sub06 .title .txt .type,
.sub06 .title .txt .font,
.sub06 .title .txt .info {
    margin: 0 0 24px 0;
}

.sub06 .title .txt .color {
    margin: 0 0 72px 0;
}

.sub06 .title .txt .button {
    display: flex;
    gap: 10px;
}

.sub06 .title .txt .button a {
    padding: 10px 25px 10px 25px;
    width: 50px;
    background: #ccc;
    border-radius: 10px;
    color: #fff;
    transition: 0.5s;
}

.sub06 .title .txt .button a:hover {
    background: #82a7c5;
}

.sub06 .title .txt .button a.on {
    background: #82a7c5;
}

.sub06 .title .txt h2 {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.sub06 .title .txt p {
    font-weight: 300;
    color: #555;
}

.sub06 .title .txt .color .c_list {
    display: flex;
    gap: 15px;
}

.sub06 .title .txt .color .c_list li:nth-child(1) {
    padding: 10px;
    background: #99cf23;
    border-radius: 5px;
}

.sub06 .title .txt .color .c_list li:nth-child(2) {
    padding: 10px;
    background: #7AA61B;
    border-radius: 5px;
}

.sub06 .number {
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 100px;
    color: #82a7c5;
}

/* 07.training */

.sub07 {
    position: relative;
    background: linear-gradient(177deg, rgba(130, 167, 197, 0.2) 26%, rgba(255, 255, 255, 1) 26%);
}

.sub07 .training_box {
    position: relative;
    right: -7%;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 110px;
}

.sub07 .training_box .tbox {
    width: 480px;
    height: 220px;
    border-radius: 5px;
}


.sub07 .training_box .tbox a img {
    margin: 0 0 16px 0;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);

}

.sub07 .training_box .tbox a:hover img {
    transform: scale(1.05);
}

.sub07 .training_box .tbox .ttxt {
    text-align: center;
}

.sub07 .training_box .tbox .ttxt strong {
    display: block;
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    color: #444;
}

.sub07 .training_box .tbox .ttxt span {
    font-size: 16px;
    color: #666;
}


@media (max-width: 768px) {

    .number {
        display: none;
    }

    .bg {
        display: none;
    }

    br {
        display: inline-block;
        content: " ";
        padding: 0;
    }

    .header {
        width: 465px;
        position: fixed;
        top: 0;
        left: -35px;
        right: 0;
        z-index: 1002;
        padding: 0;
        background: rgba(0, 0, 0, 0);
    }

    .header h1 {
        padding: 30px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        color: #82a7c5;
        text-align: center;
        transition: 0.5s;
        z-index: 1001;
    }

    .header h1 a {
        margin: 0;
    }

    .header.on h1 {
        height: 50px;
    }

    .gnb {
        position: fixed;
        top: 3.5%;
        right: 440px;
        bottom: auto;
        /* transform: translate(0, -50%); */
        z-index: 1002;
    }

    .gnb ul {
        display: flex;
    }

    .gnb li a {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
    }

    .gnb li a span {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
    }


    .gnb li.on a span {
        display: block;
        text-align: center;
        color: #82a7c5;
        font-size: 14px;
        margin: 0;
        padding: 5px 0 0 0;
        /* transform: translate(100%, 0); */
    }

    .gnb li.on a .first {
        margin: 0;
    }

    .gnb li.on a .eider {
        margin: 0;
    }

    .gnb li.on a .nefs {
        margin: 0;
    }

    .gnb li.on a .cu {
        margin: 0;
    }

    .gnb li a::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 7px;
        height: 7px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #02437933;
        transition: 0.3s;
    }

    .gnb li.on a::after {
        border-radius: 50%;
        background: #82a7c5;
        border: 1px solid #82a7c5;
    }

    .main {
        background: linear-gradient(-145deg, transparent 50%, rgba(130, 167, 197, 0.2) 35%);
    }

    .main .m_con {
        position: relative;
        height: 100vh;
    }

    .main .m_con .pf_list figure {
        position: relative;
        width: 600px;
        border: 3px solid #fff;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        display: none;
    }

    .main .m_con .pf_list figure .m_link {
        position: absolute;
        width: 80px;
        padding: 5px 0;
        left: 95%;
        top: 5%;
        color: #fff;
        background: rgb(130, 167, 197);
        font-size: 14px;
        border-radius: 10px;
        text-align: center;
        z-index: 1000;
    }


    .main .m_con .pf_list figure .m_link a {
        padding: 5px;
        white-space: nowrap;
    }


    .main .m_con .pf_list .pf01 {
        position: absolute;
        top: -10px;
        left: 10%;
    }

    .main .m_con .pf_list .pf02 {
        position: absolute;
        top: 33%;
        left: -5%;
    }

    .main .m_con .pf_list .pf03 {
        position: absolute;
        top: 67%;
        left: 10%;
    }

    .main .m_con .pf_list .pf04 {
        position: absolute;
        top: -10px;
        left: 45%;
    }

    .main .m_con .pf_list .pf05 {
        position: absolute;
        top: 33%;
        left: 30%;
    }

    .main .m_con .pf_list .pf06 {
        position: absolute;
        top: 67%;
        left: 45%;
    }

    .main .m_tit {
        position: absolute;
        top: 40%;
        left: 2%;
        color: #82a7c5;
    }

    .main .m_tit h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }

    .main .m_tit strong {
        font-size: 45px;
        font-weight: 100;
        text-align: center;
    }

    .main .m_tit span {
        display: block;
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }

    .inner {
        max-width: 1500px;
        margin: 0 auto;
    }

    /* 01.eider */
    .sub01 {
        background: linear-gradient(10deg, rgba(255, 255, 255, 1) 67%, rgba(130, 167, 197, 0.2) 67%);
    }

    .sub01 .inner {
        display: flex;
        gap: 30px;
    }

    .sub01 .inner>* {
        position: relative;
    }

    .sub01 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub01 .inner .content .p_img_box .p_pic {
        position: absolute;
        padding: 0px 30px;
        top: -150px;
        left: 5px;
        right: 0;
        width: 395px;
        height: 210px;
        z-index: 999;
        overflow: hidden;
    }

    .sub01 .inner .content .p_img_box .p_pic img {
        transform: translate(0, 0);
        transition: 5s;
    }


    .sub01 .inner .content .p_img_box .p_pic:hover img {
        transform: translate(0);
    }

    .sub01 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
    }

    .sub01 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: -150px;
        bottom: 120px;
        z-index: 999;
    }

    .sub01 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub01 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub01 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -68%;
        transform: translate(-2px, -22px) rotate(0);
        width: 85px;
        object-fit: cover;
    }

    .sub01 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;
    }

    .sub01 .title {
        position: absolute;
        top: 50%;
        left: 9%;
        right: 8%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub01 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub01 .title .logo img {
        width: 80px;
    }

    .sub01 .title .txt .type,
    .sub01 .title .txt .font,
    .sub01 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub01 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub01 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub01 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub01 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub01 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub01 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub01 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
    }

    .sub01 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub01 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub01 .title .txt .color .c_list li:nth-child(1) {
        margin: 0 0 0 0;
        padding: 10px;
        background: #ff5e37;
        border-radius: 5px;
    }

    .sub01 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #333;
        border-radius: 5px;
    }

    /* 02.인제대 백병원 */

    .sub02 {
        background: linear-gradient(-165deg, transparent 60%, rgba(130, 167, 197, 0.2) 35%);
    }

    .sub02 .inner {
        display: flex;
        gap: 30px;
    }

    .sub02 .inner>* {
        position: relative;
    }

    .sub02 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub02 .inner .content .p_img_box .p_pic {
        position: absolute;
        padding: 0px 30px;
        top: -150px;
        left: 45px;
        right: 0;
        width: 395px;
        height: 215px;
        z-index: 999;
        overflow: hidden;
    }

    .sub02 .inner .content .p_img_box .p_pic img {
        transform: translate(0, 0);
        transition: 5s;
    }


    .sub02 .inner .content .p_img_box .p_pic:hover img {
        transform: translate(0);
    }

    .sub02 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
        left: 40px;
    }

    .sub02 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: 0;
        left: 109%;
        bottom: 120px;
        z-index: 999;
    }

    .sub02 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub02 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub02 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -68%;
        transform: translate(-2px, -22px) rotate(0);
        width: 85px;
        object-fit: cover;
    }

    .sub02 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;

    }

    .sub02 .title {
        position: absolute;
        top: 49%;
        left: 9%;
        right: 8%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub02 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub02 .title .logo img {
        width: 100px;
    }

    .sub02 .title .txt .type,
    .sub02 .title .txt .font,
    .sub02 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub02 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub02 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub02 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub02 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub02 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub02 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub02 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
    }

    .sub02 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub02 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub02 .title .txt .color .c_list li:nth-child(1) {
        margin: 0 0 0 0;
        padding: 10px;
        background: #6F2B8C;
        border-radius: 5px;
    }

    .sub02 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #7AA61B;
        border-radius: 5px;
    }

    /* 03.eider */
    .sub03 {
        background: linear-gradient(10deg, rgba(255, 255, 255, 1) 67%, rgba(130, 167, 197, 0.2) 67%);
    }

    .sub03 .inner {
        display: flex;
        gap: 30px;
    }

    .sub03 .inner>* {
        position: relative;
    }

    .sub03 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub03 .inner .content .p_img_box .p_pic {
        position: absolute;
        padding: 0px 30px;
        top: -150px;
        left: 5px;
        right: 0;
        width: 395px;
        height: 210px;
        z-index: 999;
        overflow: hidden;
    }

    .sub03 .inner .content .p_img_box .p_pic img {
        transform: translate(0, 0);
        transition: 5s;
    }


    .sub03 .inner .content .p_img_box .p_pic:hover img {
        transform: translate(0);
    }

    .sub03 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
    }

    .sub03 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: -150px;
        bottom: 120px;
        z-index: 999;
    }

    .sub03 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub03 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub03 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -68%;
        transform: translate(-2px, -22px) rotate(0);
        width: 85px;
        object-fit: cover;
    }

    .sub03 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;

    }

    .sub03 .title {
        position: absolute;
        top: 50%;
        left: 9%;
        right: 17%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub03 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub03 .title .logo img {
        width: 110px;
    }

    .sub03 .title .txt .type,
    .sub03 .title .txt .font,
    .sub03 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub03 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub03 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub03 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub03 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub03 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub03 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub03 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
    }

    .sub03 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub03 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub03 .title .txt .color .c_list li:nth-child(1) {
        margin: 0 0 0 0;
        padding: 10px;
        background: #04BFAD;
        border-radius: 5px;
    }

    .sub03 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #2264bb;
        border-radius: 5px;
    }

    /* 04.DOMINO */

    .sub04 {
        background: linear-gradient(-170deg, transparent 60%, rgba(130, 167, 197, 0.2) 35%);
    }

    .sub04 .inner {
        display: flex;
        gap: 30px;
    }

    .sub04 .inner>* {
        position: relative;
    }

    .sub04 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub04 .inner .content .p_img_box .p_pic {
        position: absolute;
        padding: 0px 30px;
        top: -150px;
        left: 45px;
        right: 0;
        width: 395px;
        height: 215px;
        z-index: 999;
        overflow: hidden;
    }

    .sub04 .inner .content .p_img_box .p_pic img {
        transform: translate(0, 0);
        transition: 5s;
    }


    .sub04 .inner .content .p_img_box .p_pic:hover img {
        transform: translate(0);
    }

    .sub04 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
        left: 40px;
    }

    .sub04 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: 0;
        left: 109%;
        bottom: 120px;
        z-index: 999;
    }

    .sub04 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub04 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub04 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -68%;
        transform: translate(-2px, -22px) rotate(0);
        width: 85px;
        object-fit: cover;
    }

    .sub04 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;

    }

    .sub04 .title {
        position: absolute;
        top: 49%;
        left: 9%;
        right: 8%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub04 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub04 .title .logo img {
        width: 110px;
    }

    .sub04 .title .txt .type,
    .sub04 .title .txt .font,
    .sub04 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub04 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub04 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub04 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub04 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub04 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub04 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub04 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
    }

    .sub04 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub04 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub04 .title .txt .color .c_list li:nth-child(1) {
        padding: 10px;
        background: #048ABF;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .sub04 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #D9184B;
        border-radius: 5px;
    }

    /* 05.CU */
    .sub05 {
        background: linear-gradient(10deg, rgba(255, 255, 255, 1) 67%, rgba(130, 167, 197, 0.2) 67%);
    }

    .sub05 .inner {
        display: flex;
        gap: 30px;
    }

    .sub05 .inner>* {
        position: relative;
    }

    .sub05 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub05 .inner .content .p_img_box .p_pic {
        position: absolute;
        padding: 0px 30px;
        top: -150px;
        left: 5px;
        right: 0;
        width: 395px;
        height: 210px;
        z-index: 999;
        overflow: hidden;
    }

    .sub05 .inner .content .p_img_box .p_pic img {
        transform: translate(0, 0);
        transition: 5s;
    }

    .sub05 .inner .content .p_img_box .p_pic:hover img {
        transform: translate(0);
    }

    .sub05 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
    }

    .sub05 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: -150px;
        bottom: 120px;
        z-index: 999;
    }

    .sub05 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub05 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub05 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -68%;
        transform: translate(-2px, -22px) rotate(0);
        width: 85px;
        object-fit: cover;
    }

    .sub05 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;
    }

    .sub05 .title {
        position: absolute;
        top: 50%;
        left: 10%;
        right: 17%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub05 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub05 .title .logo img {
        width: 100px;
    }

    .sub05 .title .txt .type,
    .sub05 .title .txt .font,
    .sub05 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub05 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub05 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub05 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub05 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub05 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub05 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub05 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
    }

    .sub05 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub05 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub05 .title .txt .color .c_list li:nth-child(1) {
        margin: 0 0 0 0;
        padding: 10px;
        background: #000;
        border-radius: 5px;
    }

    .sub05 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    /* 06.유기견 보호 센터 */

    .sub06 {
        background: linear-gradient(-170deg, transparent 60%, rgba(130, 167, 197, 0.2) 35%);
    }

    .sub06 .inner {
        display: flex;
        gap: 30px;
    }

    .sub06 .inner>* {
        position: relative;
    }

    .sub06 .content {
        transform: translateX(0);
        transition: 0;
    }

    .sub06 .inner .content .p_img_box .p_pic {
        position: absolute;
        top: -150px;
        left: 65px;
        right: 0;
        padding: 0px 3px;
        z-index: 999;
    }

    .sub06 .inner .content .p_img_box .p_pic img {
        width: 50%;
        height: 215px;
        border-radius: 10px;
        object-fit: cover;
    }

    .sub06 .inner .content .p_img_box .p_case {
        position: relative;
        top: -175px;
        left: 35px;
    }

    .sub06 .inner .content .m_img_box {
        position: absolute;
        width: 150px;
        right: 0;
        left: 109%;
        bottom: 120px;
        z-index: 999;
    }

    .sub06 .inner .content .m_img_box .m_top_case {
        position: absolute;
        width: 60px;
        left: -30%;
        transform: translate(-46px, -214px) rotate(0);
        z-index: 1000;
    }


    .sub06 .inner .content .m_img_box .m_case {
        position: absolute;
        width: 120px;
        bottom: 22%;
        left: -80%;
        transform: none;
    }

    .sub06 .inner .content .m_img_box .m_pic {
        position: absolute;
        bottom: 25%;
        left: -67%;
        transform: translate(-2px, -22px) rotate(0);
        width: 83px;
        object-fit: cover;
    }

    .sub06 .inner .content .m_img_box .m_pic img {
        border-radius: 15px;
    }

    .sub06 .title {
        position: absolute;
        top: 49%;
        left: 9%;
        right: 8%;
        text-align: left;
        z-index: 1000;
        opacity: 1;
    }

    .sub06 .title .logo {
        margin: 0 0 24px 0;
    }

    .sub06 .title .logo img {
        width: 150px;
    }

    .sub06 .title .txt .type,
    .sub06 .title .txt .font,
    .sub06 .title .txt .info {
        margin: 0 0 16px 0;
    }

    .sub06 .title .txt .color {
        margin: 0 0 72px 0;
    }


    .sub06 .title .txt .button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0 0 0 0px;
    }

    .sub06 .title .txt .button a {
        padding: 8px 20px 8px 20px;
        width: 50px;
        background: #ccc;
        border-radius: 10px;
        color: #fff;
        transition: 0.5s;
    }

    .sub06 .title .txt .button a:hover {
        background: #82a7c5;
    }

    .sub06 .title .txt .button a.on {
        background: #82a7c5;
    }

    .sub06 .title .txt h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
    }

    .sub06 .title .txt p {
        font-size: 15px;
        font-weight: 300;
        color: #555;
        line-height: 1.2;
        word-break: keep-all;
    }

    .sub06 .title .txt .color {
        text-align: left;
        margin: 0 0 32px 0;
    }

    .sub06 .title .txt .color .c_list {
        display: flex;
        gap: 10px;
    }

    .sub06 .title .txt .color .c_list li:nth-child(1) {
        margin: 0 0 0 0;
        padding: 10px;
        background: #7AA61B;
        border-radius: 5px;
    }

    .sub06 .title .txt .color .c_list li:nth-child(2) {
        padding: 10px;
        background: #99cf23;
        border-radius: 5px;
    }

    /* 07.training */

    .sub07 {
        position: relative;
        background: #fff;
    }

    .sub07 .training_box {
        position: relative;
        padding: 40px 0 0 0;
        transform: translate(10px, 0);
        right: -3%;
        width: 210px;
        height: 850px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sub07 .training_box .tbox {
        display: flex;
        width: 300px;
        height: 120px;
        border-radius: 5px;
        gap: 30px;
    }

    .sub07 .training_box .tbox a img {
        margin: 0 0 16px 0;
        border-radius: 10px;
        transition: 0.4s;
    }

    .sub07 .training_box .tbox a:hover img {
        transform: scale(1.1);
    }

    .sub07 .training_box .tbox .ttxt {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 50px;
    }

    .sub07 .training_box .tbox .ttxt strong {
        display: block;
        margin: 0 0 8px 0;
        font-size: 16px;
        font-weight: 600;
        color: #444;
        white-space: nowrap;
        word-break: keep-all;
    }

    .sub07 .training_box .tbox .ttxt span {
        font-size: 14px;
        color: #666;
        white-space: nowrap;
    }

    .sub07 .t_title {
        position: absolute;
        top: 40%;
        left: 15%;
        font-size: 30px;
        font-weight: 600;
        color: #82a7c5;
        display: none;
    }


    /* * {
        outline: 1px solid;
    } */
}